# Игнорируем папку с данными
data/

# Игнорируем виртуальные окружения
venv/
.env

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы IDE
.idea/
.vscode/
.DS_Store

# Игнорируем логи и временные файлы
*.log
*.tmp